#discography {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  gap: 4rem;
  text-align: center;
  align-items: center;
}
#discography img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
@media (max-width: 768px) {
  #discography {
    width: 85%;
  }
}
